.body-detail{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
    background-color: #f5f5f5df;
}

.card {
    max-width: 100vh;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }