<div class="body-signup">
    <div class="signup">
        <mat-spinner *ngIf="loading" diameter="50" class="spiner"></mat-spinner>
        <div *ngIf="!loading">
            <h2>Registro</h2>
            <div class="signup">
                <img src="./assets/img/sign-up.png" class="image-signup">
            </div>
            <form class="form-style" [formGroup]="myForm" (ngSubmit)="signup()">
                <mat-form-field class="input-signup" appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" formControlName="firstName">
                </mat-form-field>
                <div *ngIf="myForm.get('firstName')?.errors && myForm.get('firstName')?.dirty">
                    <p *ngIf="myForm.get('firstName')?.hasError('required')">El campo es obligatorio</p>
                    <p *ngIf="myForm.get('firstName')?.hasError('minlength')">El valor mínimo ingresado no debe ser
                        menor a 2 caracteres</p>
                </div>
                <mat-form-field class="input-signup" appearance="fill">
                    <mat-label>Apellido</mat-label>
                    <input matInput type="text" formControlName="lastName">
                </mat-form-field>
                <div *ngIf="myForm.get('lastName')?.errors && myForm.get('lastName')?.dirty">
                    <p *ngIf="myForm.get('lastName')?.hasError('required')">El campo es obligatorio</p>
                    <p *ngIf="myForm.get('lastName')?.hasError('minlength')">El valor mínimo ingresado no debe ser
                        menor a 2 caracteres</p>
                </div>
                <mat-form-field class="input-signup" appearance="fill">
                    <mat-label>Teléfono</mat-label>
                    <input matInput type="number" formControlName="phone">
                </mat-form-field>
                <div *ngIf="myForm.get('phone')?.errors">
                    <p *ngIf="myForm.get('phone')?.hasError('maxLength')">El valor máximo ingresado no debe ser
                        mayor a 12 caracteres</p>
                </div>
                <mat-form-field class="input-signup" appearance="fill">
                    <mat-label>Correo</mat-label>
                    <input matInput type="text" formControlName="email">
                </mat-form-field>
                <div *ngIf="myForm.get('email')?.errors && myForm.get('email')?.dirty">
                    <p *ngIf="myForm.get('email')?.hasError('required')">Complete este campo</p>
                    <p *ngIf="myForm.get('email')?.hasError('email')">Escriba un email válido</p>
                </div>

                <mat-form-field class="input-signup" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
                <div *ngIf="myForm.get('password')?.errors && myForm.get('password')?.dirty">
                    <p *ngIf="myForm.get('password')?.hasError('required')">El campo es obligatorio</p>
                    <p *ngIf="myForm.get('password')?.hasError('minlength')">El valor mínimo ingresado no debe ser menor
                        a 6 caracteres</p>
                    <p *ngIf="myForm.get('password')?.hasError('maxlength')">El valor máximo ingresado no debe ser mayor
                        a 10 caracteres</p>
                </div>
                <button mat-raised-button class="button-signup" color="primary" type="submit"
                    [disabled]="myForm.invalid">Registrate</button>
            </form>
        </div>
    </div>
</div>