<div>
<h2>Login</h2>
<form [formGroup]="myFormLogin" (ngSubmit)="login()">
    <div>
        <label>Email</label>
        <input type="email" formControlName="email">
    </div>
    <div *ngIf="myFormLogin.get('email')?.errors && myFormLogin.get('email')?.dirty">
        <p *ngIf="myFormLogin.get('email')?.hasError('required')">El campo es obligatorio</p>
        <p *ngIf="myFormLogin.get('email')?.hasError('email')"> Escriba un email válido</p>
    </div>
    <div>
        <label>Contraseña</label>
        <input type="password" formControlName="password">
    </div>
    <div *ngIf="myFormLogin.get('password')?.errors && myFormLogin.get('password')?.dirty">
        <p *ngIf="myFormLogin.get('password')?.hasError('required')">El campo es obligatorio</p>
        <p *ngIf="myFormLogin.get('password')?.hasError('minlength')">Debe tener por lo menos 6 caracteres</p>
        <p *ngIf="myFormLogin.get('password')?.hasError('maxlength')">Debe como máximo 10 caracteres</p>
    </div>
    <button type="submit" [disabled]="myFormLogin.invalid">Iniciar sesión</button>
</form>
</div>