.body-login{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 85vh;
    background-color: #f5f5f5df;
}
.login{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-login {
    width: 15vh;
    margin: 25px;
}

.form-style {
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.input-login {
    margin: 10px;
    width: 40vh;
}

.button-login {
    width: 40vh;
    height: 50px;
    margin: 20px;
}

.spinner {
    margin: 0 auto;
}