.body-home{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f5f5df;
}
.title{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px;
  padding: 10px;
 font-weight: 500;
 color: #3F51B5;
}
.picture{
    height: 10px;
}

.explanation{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 800px;
    padding: 25px;
    background-color: #f5f5f5df;
}

.spinner {
    margin: 0 auto;
}

.card {
    width: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .card-header{
    margin: 25px;
  }

  .card-info{
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
 .image-apod{
    max-width: 100%;
    min-width: 75vh;
    margin: 25px;
 } 

 .title-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 25px;
    padding: 10px;
    background-color: #bebfc6d5;
  }

 .card-info-list{
    display: flex;
 }