<div class="body">
<p>Home</p>
<img src="./assets/img/img_telescope.png" width="10%">
<p>Astronomy Picture of the Day</p>
<h1>{{picture.title}}</h1>
<p class="picture">{{picture.date}}</p>
<img src={{picture.url}}/>
    <p class="explanation">{{picture.explanation}}</p>
<h2>Los mejores telescopios</h2>
    <div *ngFor="let product of pProducts | async">
        <p>{{product.title | uppercase}}</p>
     <p>{{product.price | currency:'ARS ' }}</p>
    </div>
</div>

<!--
<h2>Observable</h2>
<div *ngFor="let product of products">
    <p>{{product.title}}</p>
    <p>$ {{product.price}}</p>
</div>

<h2>Async</h2>
<div *ngFor="let product of productsAsync">
    <p>{{product.title}}</p>
    <p>$ {{product.price}}</p>
</div>
!---->